# Get your WalletConnect Project ID from https://cloud.walletconnect.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=2cdcf97faa1949d16034c9a9377991d8

# Your backend API URL (leave as /api for same-origin proxy in Next.js)
NEXT_PUBLIC_API_URL=/api